// Font family
$font-primary: "Roboto", sans-serif;

// Grey colors
$color-grey-1: #f9fafb;
$color-grey-2: #f3f4f6;
$color-grey-3: #e5e7eb;
$color-grey-4: #d1d5db;
$color-grey-5: #9ca3af;
$color-grey-6: #6b7280;
$color-grey-7: #4b5563;
$color-grey-8: #374151;
$color-grey-9: #1f2937;
$color-grey-10: #111827;

// Blue colors
$color-blue-1: #eff6ff;
$color-blue-2: #dbeafe;
$color-blue-3: #bfdbfe;
$color-blue-4: #93c5fd;
$color-blue-5: #60a5fa;
$color-blue-6: #3b82f6;
$color-blue-7: #2563eb;
$color-blue-8: #1d4ed8;
$color-blue-9: #1e40af;
$color-blue-10: #1e3a8a;

// Indigo colors
$color-indigo-1: #eef2ff;
$color-indigo-2: #e0e7ff;
$color-indigo-3: #c7d2fe;
$color-indigo-4: #a5b4fc;
$color-indigo-5: #818cf8;
$color-indigo-6: #6366f1;
$color-indigo-7: #4f46e5;
$color-indigo-8: #4338ca;
$color-indigo-9: #3730a3;
$color-indigo-10: #312e81;

// Green Colors
$color-green-1: #34d399;
$color-green-2: #10b981;
$color-green-3: #059669;

// Red Colors
$color-red-1: #f87171;
$color-red-2: #ef4444;
$color-red-3: #dc2626;
