@import "./theme";

@mixin buttonGeneral {
  border: none;
  padding: 10px;
  border-radius: 2px;
  font-family: $font-primary;
  color: $color-grey-8;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
