@import "./theme";
@import "./typography";
@import "./buttons";

.container {
  width: 30%;
  padding: 50px;
  display: flex;
  flex-direction: column;

  h1 {
    @include heading-primary-1;
    margin-bottom: 20px;

    span {
      font-weight: 400;
    }
  }
}

.input {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: $color-grey-7;

  p {
    font-size: 12px;
    margin-right: 10px;
  }
}

.buttons {
  display: flex;
  width: 92%;
  justify-content: space-between;

  button {
    @include buttonGeneral;
    background-color: $color-indigo-6;
  }

  button:hover {
    background-color: $color-indigo-7;
  }
}
