@import "./theme";

.table {
  div {
    box-sizing: border-box;
  }

  display: inline-flex;
  border-radius: 3px;
  flex-direction: column;
  height: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

  &__header {
    display: flex;

    &-headerCell {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 2rem;
      font-size: 1.3rem;
      color: $color-grey-3;
      background-color: $color-indigo-10;

      div {
        margin-left: auto;
        display: flex;
        align-items: center;

        .sort-icon {
          cursor: pointer;
          margin-left: 1px;
          border: 1px solid transparent;
          transition: all 0.2s;

          &.active {
            color: $color-grey-7;
          }
        }

        .sort-icon:hover {
          border: 1px solid white;
          border-radius: 50%;
        }
      }
    }

    &-headerCell:not(:last-child) {
      border-right: 1px solid $color-grey-4;
    }

    &-selectInput {
      display: flex;
      justify-content: center;
      padding: 5px 0px;
      border-right: 1px solid $color-grey-3;
    }
  }

  &__body {
    overflow-y: auto;

    &-row {
      display: flex;

      &-cell {
        border-right: 1px solid $color-grey-3;
        padding: 0.5rem 2rem;
        color: $color-grey-6;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: $font-secondary;
      }
    }

    &-row:nth-of-type(even) {
      background-color: $color-grey-2;
    }
  }
}
