.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: auto;

  &__header {
    height: 20%;
    width: 2000px;
    overflow-y: auto;

    &-headerCell {
      height: 100%;
      background-color: orangered;
    }
  }

  &__body {
    height: 80%;
    width: 2000px;
    overflow-y: auto;

    &-row {
      height: 100px;
      background-color: yellowgreen;
    }
  }
}
