@import "./theme";

.container {
  display: flex;
  align-items: center;
  width: 94%;
  height: 100%;
}

.glief_logo,
.lsegLogo {
  height: 5.3rem;
  width: auto;
}

.glief_logo {
  margin-right: 2rem;
}

.lsegLogo {
  margin-left: auto;
  margin-right: 1rem;
}

.title {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.7rem;
    color: $color-grey-6;

    span {
      font-weight: 400;
    }
  }

  h4 {
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: -9px;
    color: $color-grey-6;
  }
}
