@import "./theme";

.sidebar {
  background-color: $color-primary;
  height: 100%;
  width: 100%;

  ul {
    list-style-type: none;

    li {
      color: #c5c5c5;
      transition: all 0.4s;

      div {
        display: flex;
        align-items: center;
        padding: 2.4rem 1.5rem;

        h4 {
          text-align: center;
          font-size: 1.7rem;
          font-family: $font-primary;
          letter-spacing: 0.5px;
        }

        a {
          text-decoration: none;
          margin-left: 10px;
          color: $color-grey-4;
          font-weight: 400;
        }
      }

      font-size: 1rem;
      cursor: pointer;
      border-bottom: 1px solid rgba($color-grey-1, 0.233);

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.icon {
  font-size: 1.7rem;
  margin-bottom: 2px;
}

.logo {
  height: 100px;
  display: block;
  margin: 20px auto;
  object-fit: cover;
}
